# Environnement
.env
.env.laragon
.env.docker
.env.test

# Dépendances
/vendor/

# Stockage et Logs
/storage/logs/*.log
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/logs/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Fichiers locaux
composer.phar

