@use "../abstracts/variables" as *;

.is-hidden {
  display: none !important;
}

.text-gradient {
  background: linear-gradient(90deg, $primary, $primary-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.text-huge {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}

.full-height {
  height: 80vh;
}
